@font-face {
  font-family: 'integral-cf';
  src: url("/assets/fonts/Fontspring-DEMO-integralcf-bold.otf");
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url("/assets/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  src: url("/assets/fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  src: url("/assets/fonts/Satoshi-Bold.otf");
}

@import "tailwindcss";


body{
  font-family: 'Satoshi', sans-serif;
}


@theme {
  --text-custom-3xl: 32px;
  --text-custom-4xl: 40px;
  --text-custom-6xl: 64px;
}

@theme{
  --color-light-blue: #F0F0F0;
  --color-light-gray: #F2F0F1;
  --color-dark-gray: #F0EEED;
  --color-gray: #666666;
  --color-bold-gray: #999999;
  --color-red: #FF3333;
}

@theme {
  --font-integral-cf: "integral-cf", "sans-serif";
}

.footer-bg{
  background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(240,240,240,1) 15%);
}