@import "tailwindcss";

@font-face {
  font-family: 'IntegralCF';
  font-weight: 700;
  src: url('/public/assets/fonts/integral-cf/Fontspring-DEMO-integralcf-bold.otf');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url('/public/assets/fonts/satoshi-complete/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  src: url('/public/assets/fonts/satoshi-complete/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  src: url('/public/assets/fonts/satoshi-complete/Satoshi-Bold.otf');
}

*{
  font-family: 'Satoshi', sans-serif;
}


@theme {
  --text-custom-3xl: 32px;
}

@theme {
  --font-integral-cf: "IntegralCF", "sans-serif";
}